[Unit]
Description=Kafka Broker
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target
After=network.target zookeeper.service

[Service]
Type=simple
WorkingDirectory=/opt/kafka
User=root
ExecStart=/opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/server.properties
ExecStop=/opt/kafka/bin/kafka-server-stop.sh
Restart=on-failure
RestartSec=10
StandardOutput=append:/var/log/kafka/kafka.log
StandardError=append:/var/log/kafka/kafka-error.log
SyslogIdentifier=kafka

[Install]
WantedBy=multi-user.target
