[Unit]
Description=Druid Historical
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/druid/
Environment="DRUID_HOME=/opt/druid"
Environment="CONFIG_DIR=/opt/druid/conf/druid/single-server/current"
Environment="COMMOM_DIR=/opt/druid/conf/druid/single-server/current"
Environment="MODULE_NAME=historical"

ExecStart=/usr/bin/java -cp /opt/druid/conf/druid/single-server/current/historical:/opt/druid/conf/druid/single-server/current/_common:/opt/druid/lib/* -Djim.config=/opt/druid/conf/druid/single-server/current/historical/jvm.config org.apache.druid.cli.Main server historical

StandardOutput=append:/var/log/druid/historical.log
StandardError=append:/var/log/druid/historical-error.log
SyslogIdentifier=druid_historical

[Install]
WantedBy=multi-user.target
